<form name="login">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
        <label for="email">Email ID</label>
        <input type="text" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" [(ngModel)]="password" required>
    </div>
    <button type="button" (click)="login()">Submit</button>
</form>