<form name="login" >
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" id="password" [(ngModel)]="password" required>
    </div>
    <button type="submit" (click)="login()" class="btn btn-info">Submit</button><span>give space</span>
    <a routerLink="/signup" >Sign Up</a>
</form>
